* { 
	margin: 0;
	padding: 0; 
	box-sizing: border-box; 
}

body { 
	font: 23px Helvetica, Arial; 
	background: #fff7ee;
	box-sizing: border-box;
}
div{
	border:1px solid #CCC;
	background: #FAFAFA;
	position: absolute;
	left: 1em;
	right: 1em;
	top: 1em;
	bottom: 6em;
	display: block;
}

form {
	background: #000; 
	padding: 3px 3px 3px 3px; 
	position: absolute;
	bottom: 0; 
	width: 97%;
	height: 5em;
	left: 1em;
	right: 1em; 

}

form input { 
	border: 1px; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%;
	height: 95%;
	padding-top: 5px;
}
form input:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  border: 1px solid rgba(81, 203, 238, 1);
}

form button {
 	width: 9%;
 	background: #2196F3; 
 	border: none; 
 	margin-top: 7px; 
 	height: 90%;
 }

form button:hover{
	background: #1A237E;
	color: #FFF;
}
#messages { 
	list-style-type: none;
	margin: 0; 
	padding: 0;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}
